/*************** NAVIGATION ***************/


header nav{
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 80px;
    transition: background-color 200ms linear;
    @media only screen and (min-width: 500px) {
      height: 90px;
      z-index: 2;
      position: fixed;
      color: darkgray;
      background: #fff;
      width: 100%;

        ul{
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;
          align-items: center;
        list-style-type: none;	
        }

        li:nth-child(2){
          margin-left: 5em; 
      }

      li:last-child{
        display: flex;
        align-items: center;
        margin-right: 3em; 
    }

      a:hover{
        color: rgb(71, 48, 48);
      }
    }
    
}


  header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
	list-style: none;	
  }

header nav ul li a {
  font-size: 0.8em;
  color: gray;
  padding: 1.25em 0.5em;
  text-decoration: none;
  align-items: flex-start;
}


header nav ul li a,
header nav ul li a:after,
header nav ul li a:before {
    transition: all .2s;
    }

    header nav ul li a:hover{
      color: black;
  }

header nav.scroll{
  background: #000;

  ul li a{
    color: #fff;
  }
  a:hover{
    color:gray;
  }

  .logo img {
   background: #fff;
  }
}

.logo{
 
    width: 20%;

    @media only screen and (min-width: 500px) {

      margin-left: 3em; 
      width: 150px;
      align-items: center;
      margin-right: auto;

      img{
        width: 60%;
        align-items: center;
        margin-right: auto;
        transition: transform .8s ease-in-out;
    
        &:hover{
          transform: rotate(360deg);
        }
      }
    }

}
