@charset "utf-8";
/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* RESET END */

//Variables
$open: 'Open Sans', Arial, Helvetica, sans-serif;

  body{
    font-family: $open;
    margin:0;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 1200px) {
    //  background-image: url('../images/paper.png');
    //  height: 500px; 

    //  /* Create the parallax scrolling effect */
    //  background-attachment: fixed;
    //  background-position: center;
    //  background-repeat: no-repeat;
    //  background-size: cover;
   
      }
  }

  img {
    max-width: 100%;
 
  }

//imports
@import "_nav";
@import "_main";
@import "_contact";


footer{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    background: #000;
    color:#fff;
    width: 100%;
    height: 150px;
}

/* SCROLL REVEAL */
html.sr .load-hidden {
    visibility: hidden;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 500px) {
    
header nav {
    height: 90px;
    z-index: 2;
    position: fixed;
    color: darkgray;
    background: #fff;
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
	list-style-type: none;	
}



header nav li:nth-child(2){
    margin-left: 5em; 
}

header nav li:last-child{
    display: flex;
    align-items: center;
    margin-right: 3em; 
}

  header nav a:hover{
      color: black;
  }


  .logo{
    margin-left: 3em; 
    width: 150px;
    /* display: flex; */
    align-items: center;
    margin-right: auto;
}

.logo img{
    width: 60%;
    /* display: flex; */
    align-items: center;
    margin-right: auto;
  }


}
@media only screen and (min-width: 768px) {
    h1{
        font-size: 400%;
    }
    main{
        padding-top: 100px;
    }
    .figure2 img{
        /* position: absolute; */
        width: 40%;
        left: 12%; 
    }

    .rect{
        width: 40%;
        top: 35px;
    }

  
    .desc{
        /* height: 500px; */
        position: absolute;
        top: 20%;
        right: 5%;
        width: 50%;
        z-index: -10;
        font-size: 1em;
    }

    .desc p{
       padding-left: 3em;
      padding-right: 3em;
    }
    
    .title{
        margin-left: 3em;
    }

  }

  section{
      margin-bottom: 2em;
  }



  @media only screen and (min-width: 992px) {


    section:nth-child(2) h2{
        margin-left:80%;
      }

    .squares{
        display: block;
        transition: all .5s;
        position: absolute;
        top:0;
        right: 0;
        z-index: -10;
        width: 30%;
    }

    h1{
        font-size: 5em;
    }

      h2{
      font-size: 3em;
      margin-bottom: 2em;
  }

  section:nth-child(2) .rect{
    right:3em;
  }


  section{
    margin: 0 3em;
}

  }