@charset "utf-8";
/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* RESET END */


  body{
    margin:0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }

  img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

/*************** NAVIGATION ***************/


header nav{
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 80px;
    
}
  header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-wrap: wrap; */
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
	list-style: none;	
  }

  header nav ul li a {
    font-size: 1.2em;
    color: gray;
    padding: 1.25em 0.5em;
    text-decoration: none;
    align-items: flex-start;
  }


header nav ul li a,
header nav ul li a:after,
header nav ul li a:before {
    transition: all .2s;
    }
  header nav ul li a:hover{
      color: black;
  }

  

.logo{
 
    width: 20%;
    /* height: 30%; */
    /* margin-right: auto; */

  }

  .logo:hover{
      color: darkgray;
  }
  a.logo{

  }

/*************** MAIN ***************/

main{
    padding-top: 100px;
    overflow: hidden;
    /* margin-left: 10px;
    margin-right: 10px; */
    perspective: 2px;
    
}

/* section{
}
section:first-child{

} */

article:first-child{
    
    position: relative;
}

h1, h2, h3{
    font-family: 'Lora', 'Times New Roman', Times, serif;
    
}

.title{
    top: 30%;
    /* width: 30%; */
    position: absolute;
    z-index: 10;
    margin-left: 1em;

}

h1{
    font-size: 3em;
    margin: 0;
    padding: 0;

}
h1:nth-child(2){
    /* display: block; */
    margin-left: 0.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

.figure img{
    /* position: absolute; */
    width: 80%;
    margin-left: 35%; 
}

.desc{
    /* height: 500px; */
    margin: 0;
    padding: 20px;
    font-size: 1.2em;
    background: #000;
    color: #fff;
}
.desc p{
    line-height: 2;
}
section:nth-child(3){
    /* margin: 0 20px; */
}

section:nth-child(2), section:nth-child(3){
    position: relative;
}
section:nth-child(2) h2{
    position: relative;
    margin-left:60%;
    padding: 0 10px;
}

.rect{
    position: absolute;
    top: 25px;
    z-index: -1;
}

footer{
    margin: 0;
    padding: 0;
    background: #000;
    color:#fff;
    width: 100%;
    height: 100px;
}

/* SCROLL REVEAL */
html.sr .load-hidden {
    visibility: hidden;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 500px) {
    
header nav {
    height: 90px;
    z-index: 2;
    position: fixed;
    color: darkgray;
    background: #fff;
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
	list-style-type: none;	
}



header nav li:nth-child(2){
    margin-left: 5em; 
}

header nav li:last-child{
    display: flex;
    align-items: center;
    margin-right: 3em; 
}

  header nav a:hover{
      color: black;
  }

  

  .logo{
    margin-left: 3em; 
    width: 150px;
    /* display: flex; */
    align-items: center;
    margin-right: auto;
}

.logo img{
    width: 60%;
    /* display: flex; */
    align-items: center;
    margin-right: auto;
  }


}
@media only screen and (min-width: 768px) {
    h1{
        font-size: 400%;
    }
    main{
        padding-top: 100px;
    }
    .figure img{
        /* position: absolute; */
        width: 40%;
        margin-left: 25%; 
    }

    .works img {
        width: 30%;
    }
    .rect{
        width: 40%;
        top: 35px;
    }
    .desc{
        /* height: 500px; */
        position: absolute;
        top: 20%;
        right: 5%;
        width: 50%;
        z-index: -10;
        font-size: 1em;
    }

    .desc p{
       padding-left: 3em;
      padding-right: 3em;
    }
    
    .title{
        margin-left: 3em;
    }

  }


  section:nth-child(2) .rect{
    right:3em;
  }


  section:nth-child(2) h2{
      margin-left:80%;}

  @media only screen and (min-width: 992px) {

    h1{
        font-size: 5em;
    }

      h2{
      font-size: 3em;
      margin-bottom: 2em;
  }

  section{
    margin: 0 3em;
}

  }